<!doctype html>
<html lang="es">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Viabo</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<meta content="Sistema de Soluciones Tecnologicas de Pago para Comercios y Empresas" name="description"/>
		<meta content="viabo,tarjeta de credito,viabo pay,viabo card,visa,dashboard,admin,empresa,sistema de pago" name="keywords"/>
		<meta content="Viabo" name="author"/>
		<meta property="og:title" content="Viabo"/>
		<meta property="og:type" content="Website"/>
		<meta property="og:url" content="https://viabo.com"/>
		<meta property="og:description" content="Sistema de Soluciones Tecnologicas de Pago para Comercios y Empresas"/>
		<meta property="og:image" content="https://viabo.com/production_images/viabo-thumbnail.jpg"/>

		<meta name="twitter:card" content="viabo-pay-image"/>
		<meta name="twitter:description" content="Sistema de Soluciones Tecnologicas de Pago para Comercios y Empresas"/>
		<meta name="twitter:image" content="https://viabo.com/production_images/viabo-thumbnail.jpg"/>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/landing-pages/viabo/css/index.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg fixed-top main-menu vw-100 navbar-dark">
			<div class="container-fluid px-5 py-4">
				<div class="d-flex w-100">
					<div class="flex-grow-1 px-lg-3 text-lg-center text-start">
						<img class="menu-logo" src="/landing-pages/viabo/images/logo.webp" alt="logo">
					</div>
					<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenuToggler" aria-controls="mainMenuToggler" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div>
						<div class="collapse navbar-collapse ps-lg-3 pe-lg-5" id="mainMenuToggler">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item px-md-2 px-lg-4">
									<a class="nav-link" aria-current="page" href="#">Partners</a>
								</li>
								<li class="nav-item px-md-2 px-xl-4">
									<a class="nav-link" href="#">Soluciones</a>
								</li>
								<li class="nav-item px-md-2 px-xl-4">
									<a class="nav-link" href="#">Planes</a>
								</li>
								<li class="nav-item px-md-2 px-xl-4">
									<a class="nav-link" href="#">Afiliaciones</a>
								</li>
								<li class="nav-item px-md-2 px-xl-4">
									<a class="nav-link" href="#">Blog</a>
								</li>
								<li class="nav-item px-md-2 px-xl-4">
									<a role="button" class="nav-link no-underline">
										<span class="viabo-button fw-semibold">
											Contacto
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="section banner-section">
			<div class="d-flex flex-column align-items-center justify-content-center vh-100">
				<div class="text-center mb-3">
					<h1 id="animate-banner-title" class="text-white fs-1 animate-opacity-0">Tu negocio, más ágil</h1>
				</div>
				<div class="col-11 col-sm-8 col-md-4 col-lg-3 text-center">
					<p id="animate-banner-subtitle" class="text-white fs-6 fw-lighter animate-opacity-0">Transforma tu empresa
																														                con
																														                transacciones en
																														                tiempos y a tiempo</p>
				</div>

				<div class="d-flex flex-wrap justify-content-center justify-content-sm-evenly align-items-center">
					<div class="p-3">
						<button id="animate-banner-button-left" class="viabo-button no-wrap-text">Comienza ahora</button>
					</div>
					<div class="p-3">
						<a id="animate-banner-button-right" class="text-white no-wrap-text viabo-link" href="#">Contactar a
																																			                    ventas</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-5 mb-1">
			<div class="row">
				<div class="col-12 col-md-5 col-lg-4 my-3">
					<div class="d-flex flex-column">
						<div class="my-2">
							<h2 class="fs-5 purple-text">Agilidad en pagos</h2>
						</div>
						<div class="my-2">
							<h2 class="fs-1 animate-text-demo">Con Viabo tienes más, tienes todo</h2>
						</div>
						<div class="my-2">
							<p>Una plataforma totalmente integrada para recibir, fondear, dispersar y controlar tu negocio.</p>
						</div>
						<div>
							<div class="row">
								<div class="col-1 col-md-2">
									<img src="/landing-pages/viabo/images/check-icon.webp" class="check-icon" alt="line">
								</div>
								<div class="col-11 col-md-10">
									<p>Transacciones blindadas</p>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-1 col-md-2">
									<img src="/landing-pages/viabo/images/check-icon.webp" class="check-icon" alt="line">
								</div>
								<div class="col-11 col-md-10">
									<p>Fondeo 24/7</p>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-1 col-md-2">
									<img src="/landing-pages/viabo/images/check-icon.webp" class="check-icon" alt="line">
								</div>
								<div class="col-11 col-md-10">
									<p>Acciones operativas del día-día agilizadas.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-7 col-lg-8 my-3">
					<div class="circles-container">
						<div class="circle purple-text">
							<p>Recibe
							</p>
						</div>
						<div class="circle purple-text">
							<p>Fondea
							</p>
						</div>
						<div class="circle purple-text">
							<p>Dispersa
							</p>
						</div>
					</div>
					<div class="card-container">
						<img class="card-image" src="/landing-pages/viabo/images/card.webp" alt="Viabo Card">
						<img class="viabo-safe" src="/landing-pages/viabo/images/viabo_safe.webp" alt="Viabo Safe">
					</div>
				</div>
			</div>
		</div>


		<div class="container-fluid px-0">
			<div class="d-flex flex-column py-5 px-2 align-items-center viabo-gray-bg pb-custom-250">
				<div>
					<h2 class="fs-5 purple-text">Administra tu negocio</h2>
				</div>
				<div>
					<h2 id="viabo-services" class="fs-1 text-center">Centraliza tus operaciones</h2>
				</div>
			</div>
		</div>


		<div class="container-fluid px-0 bg-black pb-3">
			<div class="d-flex justify-content-evenly flex-row flex-wrap ">
				<div id="viabo-services-pay" class="card operations-cards">
					<div class="card-body d-flex flex-column">
						<div class="operation-card-logo-image">
							<img class="operation-card-logo" src="/landing-pages/viabo/images/logo_pay.webp" alt="Viabo Pay">
							<img class="operation-card-image" src="/landing-pages/viabo/images/pay_image.webp" alt="Viabo Pay">
						</div>
						<div>
							<img src="/landing-pages/viabo/images/logo_pay_text.webp" alt="Viabo Pay">
						</div>
						<div class="mt-2">
							<p class="purple-light-text fs-4">Acepta multiples bancos.</p>
							<p class="fw-medium">Herramienta de cobro/pago por perfiles, transparencia transaccional y
																																								                        alertas.</p>
						</div>
					</div>
				</div>
				<div id="viabo-services-card" class="card operations-cards">
					<div class="card-body d-flex flex-column">
						<div class="operation-card-logo-image">
							<img class="operation-card-logo" src="/landing-pages/viabo/images/logo_card.webp" alt="Viabo Card">
							<img class="operation-card-image" src="/landing-pages/viabo/images/card_image.webp" alt="Viabo Card">
						</div>
						<div>
							<img src="/landing-pages/viabo/images/logo_card_text.webp" alt="Viabo Card">
						</div>
						<div class="mt-2">
							<p class="purple-light-text fs-4">Pagos con tarjeta y beneficios.</p>
							<p class="fw-medium">Control de gastos, pago de compensaciones, cash-back y fidelización por
																																								                        perfiles.</p>
						</div>
					</div>
				</div>
				<div id="viabo-services-admin" class="card operations-cards">
					<div class="card-body d-flex flex-column">
						<div class="operation-card-logo-image">
							<img class="operation-card-logo" src="/landing-pages/viabo/images/logo_admin.webp" alt="Viabo Admin">
							<img class="operation-card-image" src="/landing-pages/viabo/images/admin_image.webp" alt="Viabo Admin">
						</div>
						<div>
							<img src="/landing-pages/viabo/images/logo_admin_text.webp" alt="Viabo Admin">
						</div>
						<div class="mt-2">
							<p class="purple-light-text fs-4">Sistema operativo integral.</p>
							<p class="fw-medium">Controla tus movimientos y transacciones
								<strong>sin banco</strong>
								y
																																								                        multiusuario 24/7
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="container my-5 pb-5">
				<div class="row align-items-center">
					<div class="col-12 col-md-5">
						<div class="d-flex flex-column">
							<div class="my-2">
								<h2 class="fs-5 green-text">Pay day everyday!</h2>
							</div>
							<div class="my-2">
								<h2 class="fs-1 text-white">El mejor ecosistema de pagos para tu negocio.</h2>
							</div>
							<div class="my-2">
								<p class="text-white">Una plataforma totalmente integrada para recibir, fondear, dispersar y
																																													                            controlar tu
																																													                            negocio.</p>
							</div>
							<div class="my-2">
								<button class="viabo-button no-wrap-text">Comienza ahora</button>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-7 text-center my-4 my-md-0">
						<img class="ecosystem-image" src="/landing-pages/viabo/images/ecosystem.webp" alt="Ecosistema Viabo">
					</div>
				</div>
			</div>
		</div>


		<div class="container-fluid d-flex flex-column align-items-center justify-content-center px-0 pt-5 pb-5 viabo-gray-bg">
			<div class="d-flex flex-column pt-5 pb-1 px-2 align-items-center">
				<div>
					<h2 class="fs-5 purple-text">Tu negocio, tus reglas.</h2>
				</div>
				<div>
					<h2 class="fs-1 text-center">Calcula en tiempo real y evalua tu negocio</h2>
				</div>
			</div>
			<div class="row container deposit-expectation justify-content-center align-items-end">
				<div class="col-12 col-md-6 text-center text-md-end">
					<img src="/landing-pages/viabo/images/deposits.webp" alt="Expectativas Depositos Viabo"/>
				</div>
				<div class="col-12 col-md-6 text-center text-md-start">
					<img src="/landing-pages/viabo/images/deposits_2.webp" alt="Expectativas Depositos Viabo"/>
				</div>

			</div>
		</div>


		<div class="container mt-5 mb-0 ">
			<div class="row my-0">
				<div class="col-12 col-md-6 mt-3">
					<div class="d-flex flex-column">
						<div class="my-2">
							<h2 class="fs-5 purple-text">Optimiza tus transacciones</h2>
						</div>
						<div class="my-2">
							<h2 class="fs-1">Ecosistema integrado para facilitar tu negocio</h2>
						</div>
						<div class="my-2">
							<p>Tu propio ecosistema transaccional con medios de pago y fondeos las 24 horas, los 365 días del
																																								                        año.
																																								                        Movimientos sin banco y multiusuario (B2B)</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 my-3">
					<div class="row">
						<div class="col-1 col-md-2 text-end">
							<img class="check-icons" src="/landing-pages/viabo/images/check-purple-icon.webp" alt="line">
						</div>
						<div class="col-11 col-md-10">
							<p>Pagos con dispersión automática.</p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-1 col-md-2 text-end">
							<img class="check-icons" src="/landing-pages/viabo/images/check-purple-icon.webp" alt="line">
						</div>
						<div class="col-11 col-md-10">
							<p>Transacciones y movimientos dinámicos.</p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-1 col-md-2 text-end">
							<img class="check-icons" src="/landing-pages/viabo/images/check-purple-icon.webp" alt="line">
						</div>
						<div class="col-11 col-md-10">
							<p>Tarjeta Master Viabo con subcuentas ligadas.</p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-1 col-md-2 text-end">
							<img class="check-icons" src="/landing-pages/viabo/images/check-purple-icon.webp" alt="line">
						</div>
						<div class="col-11 col-md-10">
							<p>Cobro mediante ligas de pago asociadas a cuentas Master Viabo.</p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-1 col-md-2 text-end">
							<img class="check-icons" src="/landing-pages/viabo/images/check-purple-icon.webp" alt="line">
						</div>
						<div class="col-11 col-md-10">
							<p>Integración de comunicación y soporte.</p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-1 col-md-2 text-end">
							<img class="check-icons" src="/landing-pages/viabo/images/check-purple-icon.webp" alt="line">
						</div>
						<div class="col-11 col-md-10">
							<p>Recibe pagos con tan sólo un click.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="gallery-ecosystem-image-container">
				<img class="gallery-ecosystem-image" src="/landing-pages/viabo/images/gallery.webp" alt="Galeria Ecosistema Viabo"/>
			</div>
		</div>

		<div class="container-fluid viabo-gray-dark-bg mt-0">
			<div class="d-flex flex-column align-items-center justify-content-start py-5">
				<div class="pt-5">
					<h3 class="text-white fs-4 fw-light">
						<strong class="fw-bold">Viabo</strong>Safe&reg;</h3>
				</div>
				<div class="mt-4">
					<h2 class="fs-1 fw-light purple-lighter-text">Blindaje transaccional en cada punto</h2>
				</div>
				<div class="mt-4">
					<p class="text-white text-center">Tus notificaciones, pagos recibidos o tu inventario y clientes.<br>Además,
																														                el
																														                estatus de tus productos solicitados.</p>
				</div>
				<div class="mt-4">
					<img class="viabo-safe-shield-image" src="/landing-pages/viabo/images/viabo_safe_shield.webp" alt="Viabo Safe"/>
				</div>

			</div>
		</div>


		<div class="container-fluid viabo-green-gb mt-0 pt-5 px-0">
			<div class="container green-container">
				<div class="row m-0 p-0 align-content-end">
					<div class="col-12 col-md-6 text-center text-md-start py-5 py-md-0">
						<h2 class="fs-1 fw-medium">Con Viabo tienes más, tienes todo</h2>
						<p class="mt-3">Tus notificaciones, pagos recibidos o tu inventario y clientes</p>
						<button class="viabo-button-inverse no-wrap-text my-3">Solicita Tarjeta Demo</button>
					</div>
					<div class="col-12 col-md-6 text-center">
						<img class="card_in_smarthphone_image" src="/landing-pages/viabo/images/card_in_smartphone.webp" alt="Ecosistema Viabo"/>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid mt-0 py-5 px-0 bg-black">
			<div class="container">
				<div class="row m-0 p-0 align-content-start">
					<div class="col-12 col-md-6 text-center text-md-start pt-5 pt-md-0">
						<img src="/landing-pages/viabo/images/logo.webp" alt="Viabo"/>
						<h4 class="fs-6 fw-medium py-3">Agilidad en pagos</h4>
					</div>
					<div class="col-12 col-md-6 text-center text-md-start pt-5 pt-md-0">
						<div class="row">
							<div class="col-12 col-sm-6">
								<ul class="footer_menu ps-0">
									<li>
										<a href="#">Partners</a>
									</li>
									<li>
										<a href="#">Soluciones</a>
									</li>
									<li>
										<a href="#">Planes</a>
									</li>
									<li>
										<a href="#">Afiliaciones</a>
									</li>
									<li>
										<a href="#">Blog</a>
									</li>
									<li>
										<a href="#">Contacto</a>
									</li>
								</ul>
							</div>
							<div class="col-12 col-sm-6 text-white">
								<svg width="20" aria-hidden="true" focusable="false" data-prefix="fa-brands" data-icon="instagram" class="me-3 svg-inline--fa fa-instagram fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
									<path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" fill="currentColor"/>
								</svg>
								Síguenos
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 text-center text-md-start pt-5 pt-md-2">
						<p class="text-white">© 2023 Viabo. Todos los derechos reservados.</p>
					</div>
					<div class="col-12 col-md-6 text-center text-md-start pt-1 pt-md-2">
						<p class="text-white">
							<a href="/privacy" class="green-link" target="_blank">Aviso de Privacidad</a>
							-
							<a href="/policies" target="_blank" class="green-link">Terminos & Condiciones</a>
						</p>
					</div>
				</div>
			</div>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

		<script src="/landing-pages/viabo/js/anime.min.js"></script>
		<script src="{{ asset('/landing-pages/viabo/js/index.js') }}?{{ random() }}"></script>

	</body>

</html>
