---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Viabo - Sistema de Soluciones Tecnologicas de Pago para Comercios y Empresas">
	<main>
		<h1 class="animate-blurred-fade-in p-3 text-3xl">Viabo</h1>
	</main>
</Layout>
