<div>
    <h2>Proceso de registro en Viabo</h2>
    <h3>Hola, {{ name }}</h3>
    <p>
        Gracias por empezar el proceso de registro en nuestra plataforma de Viabo. Este es el código de verificación
    </p>
    <h2><code>{{ code }}</code></h2>

    <p>
        Ingresalo en la plataforma para que puedas continuar con tu proceso de registro.
    </p>
    <p>
        Sistema Viabo
    </p>
</div>
