{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block meta %}
    <meta charset="UTF-8">
    <link href="/app/favicon.ico" rel="icon" type="image/png" />
{% endblock meta %}

{% block header %}

    <a id="logo" href="https://viabo.com" target="_blank">
        <img src="{{ nelmioAsset(assets_mode, 'logo.png') }}" alt="Viabo">
    </a>
{% endblock header %}

